body{
    background-color: #ffffff;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "header header header" 
    "aside main main"
    "footer footer footer";
}
header{
    grid-area: header; 
}
aside{
    grid-area: aside; 
}
main{
    grid-area: main;
} 
   
footer{
    grid-area: footer;
}
        
h1{
    text-align: center;
}
produto1
produto2


h2{
    text-align: center;
}

h3{
    text-align: center;
}

aside{
    background-color: #ffffff;
    position: relative;
    height: 340px;
    
    
}

main{
    background-color: #ffffff;
    position: relative;
    height: 300px;
    background-color: #ffffff;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "header header header" 
    "aside main main"
    "footer footer footer";
}
header{
    grid-area: header; 
}

aside{
    grid-area: aside; 
}

main{
    grid-area: main;
} 
   
footer{
    grid-area: footer;
}
        
h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.elementomae{
    height: 250px;
    produto1
    produto2
    
    justify-content: space-between;
    border: 1px gray;
    display: flex;
    flex-direction: row;
    flex-wrap: center;
    align-items: center;

}


aside{
    background-color: #cccccc;
    position: relative;
    height: 100px;
    
}

main{
    background-color: #ffffff;
    position: relative;
    height: 300px;
    padding: 50px;

}
      
header{
    background-color: #ffffff;
    position: relative;

    padding: 50px;
   
}
      
header{
    background-color: #ffffff;
    position: relative;
    height: 175px;
   
}
p{text-align: initial;}

footer{
    grid-area: footer;
}
footer{
    background-color: #22e74d;
    position: relative;
    height: 300px;
}

.card{
    border: 2px solid grey;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.card a{
    background-color: aliceblue;
    display: block;
    height: 20px;
}
