body{
    background-color: #ffffff;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "header header header" 
    "aside main main"
    "footer footer footer";
}
header{
    grid-area: header; 
}
aside{
    grid-area: aside; 
}
main{
    grid-area: main;
} 
   
footer{
    grid-area: footer;
}
        
h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.elementomae{
    height: 300px;
    justify-content: space-between;
    border: 2px color(srgb red green blue);
    display: flex;
    flex-direction: row;
    flex-wrap: center;
    align-items: center;

}


aside{
    background-color: #cccccc;
    position: relative;
    height: 340px;
    
}

main{
    background-color: #ffffff;
    position: relative;
    height: 300px;
    padding: 50px;

}
      
header{
    background-color: #ffffff;
    position: relative;
    height: 175px;
}
p{text-align: initial;}

footer{
    grid-area: footer
    ;
}
footer{
    background-color: #ffffff;
    position: relative;
    height: 300px;
}
