body{
        background-color: #ffffff;
        display: grid;
        gap: 15px;
        grid-template-areas: 
        "header header header" 
        "aside main main"
        "footer footer footer";
}
header{
    grid-area: header; 
}
aside{
    grid-area: aside; 
}
main{
    grid-area: main;
} 
   
footer{
    grid-area: footer;
}
        
h1{
        text-align: center;
}

h3{
        text-align: center;
}


aside{
    background-color: #ffffff;Heckler & Koch P30
    position: relative;
    height: 300px;
    
}

main{
    background-color: #ffffff;
    position: relative;
    height: 300px;
    padding: 30px;

}
      
header{
    background-color: #ffffff;
    position: relative;
    height: 175px;
}
p{text-align: initial;

}ooter{
    grid-area: footer
    ;
footer{
    background-color: #ffffff;
    position: relative;
    height: 300px;
}